body {
  font-family: sans-serif;
  width: 90%;
  margin: auto;
  max-width: 80ch;
  background-color: #222;
  color: #FFF;
}

.au-img {
  float: left;
  width: 50px;
}
.author {
  float: left;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 30px
}
